*DS_Store*
.vscode/*
scenarios/results/simresults
omnetpp-5.6.2/
.cmdenv-log
.qtenvrc
*.anf
*.sca
*.vec
*.csv
*.vci
*.pdf
.vscode
*.json
*.log
*DS_Store*
.vscode/*
scenarios/results/slurm*
scenarios/results/Makefile.*

